.login{
	width: 20%;
	margin: 10% auto;
	padding: 5%; 
	background-color: #dfe6e9;
	box-shadow: 0 3px 5px 2px grey;
}
.login h1{
	text-align: center;
	font-weight: normal;
}
.login .language{
	text-align: center;
	margin-top: 10%;
}
.login .language ul{
	list-style-type: none;
}
.login .language ul li{
	display: inline-block;
	padding-left: 5%;
}
.login .language ul li a{
	text-decoration: none;
	color: #1e3799;
	transform: 0.4s all ease;
}
.login .language ul li a:hover{
	color: #0a3d62;
	transform: 0.4s all ease;
}